@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,600&display=swap');


*{
    font-family: 'Merriweather Sans', sans-serif;
}
.red{
  background-color: #E63946;
}
.blue{
  background-color: #A8DADC;
}
.picasso{
  background-color: #598c3f;
  color: #C7B342;
}
.flags img{
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.trash{
  background-color: #413334;
  color: #EDC184;
}
.notes{
  background-color: #7A8591;
  color: #2B2B48;
}
.funniest-person{
  background-color: #C1B0A0;
}
.swiper {
  width: inherit;
}
.swiper .swiper-slide{
  width: fit-content;
  display: flex;
  justify-content: center;
}
.card {
  width: fit-content;
  border: none;
}
#sunset-swiper .card{
  width: inherit;
}
video{
  width: 50%;
}
.container{
  height: inherit;
}
.swiper-button-next, .swiper-button-prev{
  color: black;
  background: rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.5px);
height: 100%;
top: 0;
margin-top: 0;
}

.swiper-button-prev{
  left: 0;
}
.swiper-button-next{
  right: 0;
}
