@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@900&family=Open+Sans:wght@800&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
.container{
  height: inherit;
}

/* slide color classes */
.sara{
  background-color: #18817A;
  color: #EFEAD7;
}
.picasso{
  background-color: #DE5C25;
  color: #044f1c;
}
.sunset{
  background-color: purple;
  color: rgb(239, 194, 222);
}
.red{
  background-color: rgb(245, 124, 205);
  color: rgb(213, 0, 0);
}
.blue{
  background-color: #3fbabf;
}
.notes{
  background-color: #052b51;
  color: rgb(186, 199, 231);
}
.letters{
  background-color: rgb(83, 9, 83);
  color: rgb(225, 161, 201);
}
.funniest-person{
  background-color: #C1B0A0;
  color: rgb(67, 36, 2);
}
.awards{
  background-color: rgb(204, 0, 44);
  color: rgb(237, 223, 195);
}
.video{
  background-color: rgb(1, 1, 110);
  color: beige;
}
.letters2{
  background-color: rgb(236, 136, 214);
  color: rgb(77, 2, 77);
}
.trash{
  background-color: #0f4c48;
  color: #EDC184;
}

/* sara class */
.sara img{
  width: 75%;
}
.sara h1{
  font-size: 50pt;
}

/* swiper classes */
.swiper {
  width: inherit;
}
.swiper .swiper-slide{
  width: fit-content;
  display: flex;
  justify-content: center;
}
.swiper-button-next, .swiper-button-prev{
  color: black;
  background: rgba(255, 255, 255, 0.3);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.5px);
height: 100%;
top: 0;
margin-top: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-button-next{
  right: 0;
}

/* card */
.card {
  width: inherit;
  border: none;
  color: rgb(51, 51, 51);
}

/* video */
#video-div{
  width: inherit;
}
video{
  width: inherit;
}




